[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-beginner-guide
Exec=harbour-beginner-guide
Name=Beginner's Guide

[X-Sailjail]
OrganizationName=dev.chrastecky
ApplicationName=beginner-guide
Permissions=Internet
